body {
  font-family: "Itim", cursive;
  background-color: #fff0f5;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
}

.container {
  text-align: center;
}

.couple-pic {
  width: 200px;
  border-radius: 20px;
  margin-bottom: 0px; /* เดิม 15px → ลดเหลือ 5px */
}

.love-text {
  font-size: 28px;
  color: #ff69b4;
  margin-top: 0px; /* เพิ่มบรรทัดนี้เพื่อควบคุมระยะ */
}

.hint {
  margin-top: 10px;
  font-size: 18px;
}

#code-input {
  width: 160px;
  font-size: 24px;
  text-align: center;
  margin: 10px auto;
  padding: 8px;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
}

.keypad {
  display: grid;
  grid-template-columns: repeat(3, 60px);
  gap: 10px;
  justify-content: center;
  margin-top: 10px;
}

.key {
  font-size: 18px;
  padding: 10px;
  border-radius: 12px;
  background-color: #ffc0cb;
  border: none;
  cursor: pointer;
  transition: 0.2s;
}

.key:hover {
  background-color: #ffb6c1;
}
